/* BASE CODE */

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  width: 100%;
  height: 100%;
}